@use 'base/global' as c;

.footer{
    .container{
        display: flex;
        flex-direction: column;



        .subcontact{
            text-align: end;

            .social_media {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                font-weight: 700;
            }
        }

        .copyright{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: solid 2px c.$black;
            margin-top: 1rem;
        }
    }
}

.container_copy{
    display: flex;
    gap: 1rem;
}
